TestResults*
RetryResults*
SanityResults*
.DS_Store
/.build
/Packages

/*.xcodeproj
xcuserdata/
.swiftpm
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
