<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIiNYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBkaVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						AxAjgABfEJNmaWxlOi8vL1VzZXJz
						L3RpdG91YW52YW5iZWxsZS93b3Jr
						c3BhY2UvcGVyc29uYWwvWENVSVRl
						c3RIVE1MUmVwb3J0L1hDVUlUZXN0
						SFRNTFJlcG9ydFNhbXBsZUFwcC9Y
						Q1VJVGVzdEhUTUxSZXBvcnRTYW1w
						bGVBcHBVSVRlc3RzL0ZpcnN0U3Vp
						dGUuc3dpZnTSGxwdHlokY2xhc3Nu
						YW1lWCRjbGFzc2VzXxAXRFZUVGV4
						dERvY3VtZW50TG9jYXRpb26jHyAh
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb25fEBNEVlREb2N1bWVudExv
						Y2F0aW9uWE5TT2JqZWN0XxAPTlNL
						ZXllZEFyY2hpdmVy0SQlVHJvb3SA
						AQAIABEAGgAjAC0AMgA3ADwAQgBX
						AGMAegCPAKMAtgC9ANAA2gDvAQMB
						BQEOARABEgEUARYBrAGxAbwBxQHf
						AeMB/QITAhwCLgIxAjYAAAAAAAAC
						AQAAAAAAAAAmAAAAAAAAAAAAAAAA
						AAACOA==
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>XCTAssertTrue failed - Button exists</string>
						<key>TestCase</key>
						<string>FirstSuite.testFirstSuiteButtonDoesNotExist()</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGIiNYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBkaVSRu
						dWxs2gkKCwwNDg8QERITFBQVFRYX
						GBcUW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACE///////////EACA
						AxA5gABfEJRmaWxlOi8vL1VzZXJz
						L3RpdG91YW52YW5iZWxsZS93b3Jr
						c3BhY2UvcGVyc29uYWwvWENVSVRl
						c3RIVE1MUmVwb3J0L1hDVUlUZXN0
						SFRNTFJlcG9ydFNhbXBsZUFwcC9Y
						Q1VJVGVzdEhUTUxSZXBvcnRTYW1w
						bGVBcHBVSVRlc3RzL1NlY29uZFN1
						aXRlLnN3aWZ00hscHR5aJGNsYXNz
						bmFtZVgkY2xhc3Nlc18QF0RWVFRl
						eHREb2N1bWVudExvY2F0aW9uox8g
						IV8QF0RWVFRleHREb2N1bWVudExv
						Y2F0aW9uXxATRFZURG9jdW1lbnRM
						b2NhdGlvblhOU09iamVjdF8QD05T
						S2V5ZWRBcmNoaXZlctEkJVRyb290
						gAEACAARABoAIwAtADIANwA8AEIA
						VwBjAHoAjwCjALYAvQDQANoA7wED
						AQUBDgEQARIBFAEWAa0BsgG9AcYB
						4AHkAf4CFAIdAi8CMgI3AAAAAAAA
						AgEAAAAAAAAAJgAAAAAAAAAAAAAA
						AAAAAjk=
						</data>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>XCTAssertTrue failed - Button exists</string>
						<key>TestCase</key>
						<string>SecondSuite.testSecondSuiteButtonDoesNotExist()</string>
					</dict>
				</array>
				<key>TestSummaryPath</key>
				<string>1_Test/action_TestSummaries.plist</string>
				<key>TestsCount</key>
				<integer>4</integer>
				<key>TestsFailedCount</key>
				<integer>2</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>LogPath</key>
				<string>1_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2017-07-27T15:37:45Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>100</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>3000</integer>
					<key>Identifier</key>
					<string>6C8054DF-29FE-549A-8BDF-C6E3BD4AD5FC</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>4</integer>
					<key>ModelCode</key>
					<string>MacBookPro11,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-13-retina-display</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.12.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.12.6 (16G29)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>2</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>8192</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 7</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>5C622B36-68B0-4CEF-B4DA-F143CBFAA3DB</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone9,1</string>
					<key>ModelName</key>
					<string>iPhone 7</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-7-1</string>
					<key>Name</key>
					<string>iPhone 7</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>11.0</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>11.0 (15A5318e)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator11.0</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 11.0</string>
					<key>OperatingSystemVersion</key>
					<string>11.0</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2017-07-27T15:36:47Z</date>
			<key>Title</key>
			<string>Testing workspace XCUITestHTMLReport with scheme XCUITestHTMLReportSampleApp</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/XCUITestHTMLReport.xcworkspace</string>
	<key>ErrorCount</key>
	<integer>0</integer>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestFailureSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBkaVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			AxAjgABfEJNmaWxlOi8vL1VzZXJzL3RpdG91YW52YW5iZWxsZS93
			b3Jrc3BhY2UvcGVyc29uYWwvWENVSVRlc3RIVE1MUmVwb3J0L1hD
			VUlUZXN0SFRNTFJlcG9ydFNhbXBsZUFwcC9YQ1VJVGVzdEhUTUxS
			ZXBvcnRTYW1wbGVBcHBVSVRlc3RzL0ZpcnN0U3VpdGUuc3dpZnTS
			GxwdHlokY2xhc3NuYW1lWCRjbGFzc2VzXxAXRFZUVGV4dERvY3Vt
			ZW50TG9jYXRpb26jHyAhXxAXRFZUVGV4dERvY3VtZW50TG9jYXRp
			b25fEBNEVlREb2N1bWVudExvY2F0aW9uWE5TT2JqZWN0XxAPTlNL
			ZXllZEFyY2hpdmVy0SQlVHJvb3SAAQAIABEAGgAjAC0AMgA3ADwA
			QgBXAGMAegCPAKMAtgC9ANAA2gDvAQMBBQEOARABEgEUARYBrAGx
			AbwBxQHfAeMB/QITAhwCLgIxAjYAAAAAAAACAQAAAAAAAAAmAAAA
			AAAAAAAAAAAAAAACOA==
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>XCTAssertTrue failed - Button exists</string>
			<key>TestCase</key>
			<string>FirstSuite.testFirstSuiteButtonDoesNotExist()</string>
		</dict>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGIiNYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBkaVSRudWxs2gkKCwwNDg8QERIT
			FBQVFRYXGBcUW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACE///////////EACA
			AxA5gABfEJRmaWxlOi8vL1VzZXJzL3RpdG91YW52YW5iZWxsZS93
			b3Jrc3BhY2UvcGVyc29uYWwvWENVSVRlc3RIVE1MUmVwb3J0L1hD
			VUlUZXN0SFRNTFJlcG9ydFNhbXBsZUFwcC9YQ1VJVGVzdEhUTUxS
			ZXBvcnRTYW1wbGVBcHBVSVRlc3RzL1NlY29uZFN1aXRlLnN3aWZ0
			0hscHR5aJGNsYXNzbmFtZVgkY2xhc3Nlc18QF0RWVFRleHREb2N1
			bWVudExvY2F0aW9uox8gIV8QF0RWVFRleHREb2N1bWVudExvY2F0
			aW9uXxATRFZURG9jdW1lbnRMb2NhdGlvblhOU09iamVjdF8QD05T
			S2V5ZWRBcmNoaXZlctEkJVRyb290gAEACAARABoAIwAtADIANwA8
			AEIAVwBjAHoAjwCjALYAvQDQANoA7wEDAQUBDgEQARIBFAEWAa0B
			sgG9AcYB4AHkAf4CFAIdAi8CMgI3AAAAAAAAAgEAAAAAAAAAJgAA
			AAAAAAAAAAAAAAAAAjk=
			</data>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>XCTAssertTrue failed - Button exists</string>
			<key>TestCase</key>
			<string>SecondSuite.testSecondSuiteButtonDoesNotExist()</string>
		</dict>
	</array>
	<key>TestSummaryPath</key>
	<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/TestResults/TestSummaries.plist</string>
	<key>TestsCount</key>
	<integer>4</integer>
	<key>TestsFailedCount</key>
	<integer>2</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
