<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleApp.xcodeproj</string>
			<key>TargetName</key>
			<string>XCUITestHTMLReportSampleAppUITests</string>
			<key>TestName</key>
			<string>XCUITestHTMLReportSampleAppUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>35.74990302324295</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>35.746802985668182</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>17.261920988559723</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_99DFDCC9-2A35-47BF-9365-EA8A7FDE84C9.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>523181625.56656802</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181625.56763399</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>523181625.41989702</real>
													<key>Title</key>
													<string>Start Test at 2017-07-31 16:13:45.420</string>
													<key>UUID</key>
													<string>99DFDCC9-2A35-47BF-9365-EA8A7FDE84C9</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181634.11924201</real>
													<key>StartTimeInterval</key>
													<real>523181625.57113397</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_3BCE4987-393A-4FA2-9592-566678E9B53C.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>523181625.65877801</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>523181634.11837298</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>523181625.58041799</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>523181634.11636102</real>
																	<key>StartTimeInterval</key>
																	<real>523181625.65896201</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_823D45A5-DFB7-435E-887B-3D60134F94D5.jpg</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>523181632.52658898</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.jpeg</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>523181633.11486298</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>523181632.48544002</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>823D45A5-DFB7-435E-887B-3D60134F94D5</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>01007096-75CC-49F8-8532-3E79835FCBE1</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>3BCE4987-393A-4FA2-9592-566678E9B53C</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>52B98B17-0E45-4672-8530-1266DE4ADB10</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_E12C2668-C9E9-4EDC-939F-BAE1E804812F.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>523181634.31321001</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181634.31325901</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>523181634.28778201</real>
													<key>Title</key>
													<string>Assertion Failure: FirstSuite.swift:36: XCTAssertTrue failed - Button exists</string>
													<key>UUID</key>
													<string>E12C2668-C9E9-4EDC-939F-BAE1E804812F</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181634.31568402</real>
													<key>StartTimeInterval</key>
													<real>523181634.31458098</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>534E47F5-40AD-4852-9918-AA8F72BCB793</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>9.0996890068054199</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleAppUITests/FirstSuite.swift</string>
													<key>LineNumber</key>
													<integer>36</integer>
													<key>Message</key>
													<string>XCTAssertTrue failed - Button exists</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>FirstSuite/testFirstSuiteButtonDoesNotExist()</string>
											<key>TestName</key>
											<string>testFirstSuiteButtonDoesNotExist()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>319623A1-1B54-4C28-842E-75748C15298C</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181634.54372501</real>
													<key>StartTimeInterval</key>
													<real>523181634.519997</real>
													<key>Title</key>
													<string>Start Test at 2017-07-31 16:13:54.520</string>
													<key>UUID</key>
													<string>F5CF3952-F52B-4720-9E62-1F6A1F01FDB2</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>523181634.519997</real>
													<key>StartTimeInterval</key>
													<real>523181634.519997</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>BAD16303-AC3B-412B-9967-6DD8D31973F1</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181642.31566203</real>
													<key>StartTimeInterval</key>
													<real>523181634.54434901</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>523181642.31507701</real>
															<key>StartTimeInterval</key>
															<real>523181634.64768398</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>523181642.31372499</real>
																	<key>StartTimeInterval</key>
																	<real>523181634.69485903</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>523181635.44917601</real>
																			<key>StartTimeInterval</key>
																			<real>523181634.69555497</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:93216</string>
																			<key>UUID</key>
																			<string>1DD61C32-C12D-48EF-BB10-306DA6535529</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>523181641.31213999</real>
																			<key>StartTimeInterval</key>
																			<real>523181639.75609899</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>1846F07D-0339-4137-A176-EED03B248AF9</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>BD643A28-AE55-4BEC-BBA7-8EAACC279DBE</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>DA79E808-36D6-4D75-9560-5F18BADEF239</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>759CFE08-BF5B-4051-AF7B-62DB0AAAB80C</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181642.47876602</real>
													<key>StartTimeInterval</key>
													<real>523181642.47839701</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>340C2D26-F69A-4ABF-9B64-8DDFEBE5B970</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>8.1607530117034912</real>
											<key>TestIdentifier</key>
											<string>FirstSuite/testFirstSuiteButtonExists()</string>
											<key>TestName</key>
											<string>testFirstSuiteButtonExists()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F6EBE2A6-FF86-4FFD-95F2-C09C045EA540</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>FirstSuite</string>
									<key>TestName</key>
									<string>FirstSuite</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>18.482976973056793</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_B30B3ECD-6F83-4DA8-9E11-80A6C721BE5E.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>523181642.71276897</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181642.71281397</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>523181642.68371701</real>
													<key>Title</key>
													<string>Start Test at 2017-07-31 16:14:02.683</string>
													<key>UUID</key>
													<string>B30B3ECD-6F83-4DA8-9E11-80A6C721BE5E</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181650.47235799</real>
													<key>StartTimeInterval</key>
													<real>523181642.713332</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_C11B7400-D7C5-4A87-9539-521EDAB4E69A.jpg</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>523181642.83614099</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.jpeg</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>523181650.47143102</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>523181642.81472898</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>523181650.469877</real>
																	<key>StartTimeInterval</key>
																	<real>523181642.83619499</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_AEC4D6A7-776F-4260-AE5C-B6A42FD1D25F.jpg</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>523181642.85657698</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.jpeg</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>523181643.500287</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>523181642.83666402</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:93219</string>
																			<key>UUID</key>
																			<string>AEC4D6A7-776F-4260-AE5C-B6A42FD1D25F</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_283381AD-AE37-4598-BBE4-BD71F21A251A.jpg</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>523181647.71946198</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.jpeg</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>523181649.46899301</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>523181647.67156303</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>283381AD-AE37-4598-BBE4-BD71F21A251A</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>3133BCEB-D382-4821-A99B-3C89CFF875EA</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>C11B7400-D7C5-4A87-9539-521EDAB4E69A</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>4B47F0C1-5D57-4CFE-9387-2009D17B49D6</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_491697BA-C44E-4588-AF93-19C0A1EBA1B4.jpg</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>523181650.64323503</real>
															<key>UniformTypeIdentifier</key>
															<string>public.jpeg</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181650.64328802</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>523181650.61884701</real>
													<key>Title</key>
													<string>Assertion Failure: SecondSuite.swift:58: XCTAssertTrue failed - Button exists</string>
													<key>UUID</key>
													<string>491697BA-C44E-4588-AF93-19C0A1EBA1B4</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181650.64431101</real>
													<key>StartTimeInterval</key>
													<real>523181650.64390802</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>AB9FF1CA-5137-4D69-8BED-080A4B5AD6FD</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>8.165429949760437</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleAppUITests/SecondSuite.swift</string>
													<key>LineNumber</key>
													<integer>58</integer>
													<key>Message</key>
													<string>XCTAssertTrue failed - Button exists</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>SecondSuite/testSecondSuiteButtonDoesNotExist()</string>
											<key>TestName</key>
											<string>testSecondSuiteButtonDoesNotExist()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>DF9856DD-5A91-45FB-A311-4AEED326A355</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181650.86742002</real>
													<key>StartTimeInterval</key>
													<real>523181650.85009801</real>
													<key>Title</key>
													<string>Start Test at 2017-07-31 16:14:10.850</string>
													<key>UUID</key>
													<string>73EE71FE-2D10-4F93-8F3A-4CB93105CBCA</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>523181650.85009801</real>
													<key>StartTimeInterval</key>
													<real>523181650.85009801</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>C9809B64-22BD-4116-8776-A30500028DC3</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181660.67674297</real>
													<key>StartTimeInterval</key>
													<real>523181650.86993498</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>523181660.67585802</real>
															<key>StartTimeInterval</key>
															<real>523181650.97245598</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>523181660.67364001</real>
																	<key>StartTimeInterval</key>
																	<real>523181650.99302101</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>523181651.85229301</real>
																			<key>StartTimeInterval</key>
																			<real>523181650.99415499</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:93223</string>
																			<key>UUID</key>
																			<string>E9FAA02D-B286-48C8-8D95-1E857533FB4C</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>523181659.67167199</real>
																			<key>StartTimeInterval</key>
																			<real>523181657.92303801</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>E4E2B0B4-E33B-4D60-BEAA-C29A29CAE6B6</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>CBB2017C-21A1-45E6-8108-D30287309A1C</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>EBD54CBD-CD09-455D-B85D-C6F77C91CFF3</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>ADC5CB4A-4658-42B9-9EAE-1EE06AA29DC8</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>public.plain-text_1_0330CAC2-ADD4-4F65-9D43-59E0367B9EA9.txt</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Timestamp</key>
															<real>523181660.67838502</real>
															<key>UniformTypeIdentifier</key>
															<string>public.plain-text</string>
															<key>UserInfo</key>
															<dict/>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181660.67847401</real>
													<key>StartTimeInterval</key>
													<real>523181660.67798299</real>
													<key>Title</key>
													<string>Text Attachment</string>
													<key>UUID</key>
													<string>0330CAC2-ADD4-4F65-9D43-59E0367B9EA9</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>public.png_1_E31CC6E0-A3AB-4567-9A51-E4888E931D9C.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Timestamp</key>
															<real>523181660.72201002</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>1</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>523181660.80267298</real>
													<key>StartTimeInterval</key>
													<real>523181660.678877</real>
													<key>Title</key>
													<string>Image Attachment</string>
													<key>UUID</key>
													<string>E31CC6E0-A3AB-4567-9A51-E4888E931D9C</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>523181660.96228498</real>
													<key>StartTimeInterval</key>
													<real>523181660.96187198</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>FC0B26DF-D7F2-4049-81D4-B6D6C756DA82</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>10.314992010593414</real>
											<key>TestIdentifier</key>
											<string>SecondSuite/testSecondSuiteButtonExists()</string>
											<key>TestName</key>
											<string>testSecondSuiteButtonExists()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7AF94E54-23EB-44CC-929D-641A5277AD92</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SecondSuite</string>
									<key>TestName</key>
									<string>SecondSuite</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>XCUITestHTMLReportSampleAppUITests.xctest</string>
							<key>TestName</key>
							<string>XCUITestHTMLReportSampleAppUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
