<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.1</string>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleApp.xcodeproj</string>
			<key>TargetName</key>
			<string>XCUITestHTMLReportSampleAppUITests</string>
			<key>TestName</key>
			<string>XCUITestHTMLReportSampleAppUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>25.872599959373474</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>25.871187031269073</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>13.476274013519287</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_B506940F-DADD-495A-955B-7B9FE6EACB33.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>522862639.666722</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>522862639.66680002</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>522862639.45636398</real>
													<key>Title</key>
													<string>Start Test at 2017-07-27 23:37:19.456</string>
													<key>UUID</key>
													<string>B506940F-DADD-495A-955B-7B9FE6EACB33</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862646.18929601</real>
													<key>StartTimeInterval</key>
													<real>522862639.66967303</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_5E5ACEAE-A367-443C-AE5A-3F2B5C7B5D13.png</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>522862639.76919502</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.png</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>522862646.18744999</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>522862639.67862397</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>522862646.18618298</real>
																	<key>StartTimeInterval</key>
																	<real>522862639.76924998</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_4FCADC0E-FA2D-4999-A0F7-7406C20F4C43.png</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>522862644.61484599</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.png</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>522862645.18438798</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>522862644.54862601</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>4FCADC0E-FA2D-4999-A0F7-7406C20F4C43</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>FF3544D6-9E99-408B-BBCD-A90B7B1D6ADA</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>5E5ACEAE-A367-443C-AE5A-3F2B5C7B5D13</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>0223F6F3-6C28-44F5-AF7B-9BD47C3A7C38</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>522862646.336092</real>
													<key>StartTimeInterval</key>
													<real>522862646.335733</real>
													<key>Title</key>
													<string>Assertion Failure: FirstSuite.swift:36: XCTAssertTrue failed - Button exists</string>
													<key>UUID</key>
													<string>7A659B58-E785-4EF3-BE49-365C74521483</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862646.33899301</real>
													<key>StartTimeInterval</key>
													<real>522862646.338507</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>EC6CE940-EAAA-4C33-A8FC-2C508E4675A6</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>7.0863369703292847</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleAppUITests/FirstSuite.swift</string>
													<key>LineNumber</key>
													<integer>36</integer>
													<key>Message</key>
													<string>XCTAssertTrue failed - Button exists</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>FirstSuite/testFirstSuiteButtonDoesNotExist()</string>
											<key>TestName</key>
											<string>testFirstSuiteButtonDoesNotExist()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>D3CD71A2-CE59-4FAF-B36C-7CB3C8A26CDC</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862646.56293601</real>
													<key>StartTimeInterval</key>
													<real>522862646.54350501</real>
													<key>Title</key>
													<string>Start Test at 2017-07-27 23:37:26.543</string>
													<key>UUID</key>
													<string>E1E91E91-7C46-4594-B7C9-1ED137A1EF4B</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>522862646.54350501</real>
													<key>StartTimeInterval</key>
													<real>522862646.54350501</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>4B64B6BF-5189-42E1-A39B-D034AEAD3ADE</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862652.60156298</real>
													<key>StartTimeInterval</key>
													<real>522862646.56351203</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>522862652.60105097</real>
															<key>StartTimeInterval</key>
															<real>522862646.66519397</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>522862652.60006702</real>
																	<key>StartTimeInterval</key>
																	<real>522862646.69030303</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>522862647.03652298</real>
																			<key>StartTimeInterval</key>
																			<real>522862646.69080299</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:4084</string>
																			<key>UUID</key>
																			<string>A5B04D9C-99B2-46CA-A9FA-FB65F15B7B18</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>522862651.599338</real>
																			<key>StartTimeInterval</key>
																			<real>522862650.84712303</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>A4E44CF2-7795-41A3-ACCA-2DA8E36D1A4C</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>7E4D15D9-9770-438A-BADC-AB8708AC692A</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>CA304A4D-B1C4-4E02-927A-41E4285BDD4A</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>A2D8106F-1839-4A43-B49C-66A61054D643</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862652.72957301</real>
													<key>StartTimeInterval</key>
													<real>522862652.729186</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>8570515F-07F4-4200-AFA7-EF02EFB92BD6</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>6.3884049654006958</real>
											<key>TestIdentifier</key>
											<string>FirstSuite/testFirstSuiteButtonExists()</string>
											<key>TestName</key>
											<string>testFirstSuiteButtonExists()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>C2A64B3E-8D00-4E7B-9B4C-804EABF189F7</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>FirstSuite</string>
									<key>TestName</key>
									<string>FirstSuite</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>12.393218994140625</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>Screenshot_48890D73-AEE9-4F66-90EA-7A19BCF37F9A.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>1</integer>
															<key>Name</key>
															<string>kXCTAttachmentLegacyScreenImageData</string>
															<key>Timestamp</key>
															<real>522862652.95787299</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>522862652.95791501</real>
													<key>HasScreenshotData</key>
													<true/>
													<key>StartTimeInterval</key>
													<real>522862652.93297797</real>
													<key>Title</key>
													<string>Start Test at 2017-07-27 23:37:32.933</string>
													<key>UUID</key>
													<string>48890D73-AEE9-4F66-90EA-7A19BCF37F9A</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862659.25474501</real>
													<key>StartTimeInterval</key>
													<real>522862652.95844197</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>Attachments</key>
															<array>
																<dict>
																	<key>Filename</key>
																	<string>Screenshot_D1BD6DEF-78E9-4A87-B5FF-F8319825EC2F.png</string>
																	<key>HasPayload</key>
																	<true/>
																	<key>InActivityIdentifier</key>
																	<integer>1</integer>
																	<key>Lifetime</key>
																	<integer>1</integer>
																	<key>Name</key>
																	<string>kXCTAttachmentLegacyScreenImageData</string>
																	<key>Timestamp</key>
																	<real>522862653.08641303</real>
																	<key>UniformTypeIdentifier</key>
																	<string>public.png</string>
																</dict>
															</array>
															<key>FinishTimeInterval</key>
															<real>522862659.25421</real>
															<key>HasScreenshotData</key>
															<true/>
															<key>StartTimeInterval</key>
															<real>522862653.05959898</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>522862659.25282103</real>
																	<key>StartTimeInterval</key>
																	<real>522862653.08646899</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_1033ADE3-BA8B-450F-8FC1-80117470FA2E.png</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>522862653.10797602</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.png</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>522862653.377451</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>522862653.08692998</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:4092</string>
																			<key>UUID</key>
																			<string>1033ADE3-BA8B-450F-8FC1-80117470FA2E</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>Attachments</key>
																			<array>
																				<dict>
																					<key>Filename</key>
																					<string>Screenshot_3E2002E9-C79C-4B2E-B43A-8896CACD0D1D.png</string>
																					<key>HasPayload</key>
																					<true/>
																					<key>InActivityIdentifier</key>
																					<integer>1</integer>
																					<key>Lifetime</key>
																					<integer>1</integer>
																					<key>Name</key>
																					<string>kXCTAttachmentLegacyScreenImageData</string>
																					<key>Timestamp</key>
																					<real>522862657.52981001</real>
																					<key>UniformTypeIdentifier</key>
																					<string>public.png</string>
																				</dict>
																			</array>
																			<key>FinishTimeInterval</key>
																			<real>522862658.25155801</real>
																			<key>HasScreenshotData</key>
																			<true/>
																			<key>StartTimeInterval</key>
																			<real>522862657.46638298</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>3E2002E9-C79C-4B2E-B43A-8896CACD0D1D</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>510C1CFE-3607-485D-B1FC-2ADF5A89BDB4</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>D1BD6DEF-78E9-4A87-B5FF-F8319825EC2F</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>5E25AF04-778B-4E37-9866-E27A833F3EF6</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>522862659.38381702</real>
													<key>StartTimeInterval</key>
													<real>522862659.38343102</real>
													<key>Title</key>
													<string>Assertion Failure: SecondSuite.swift:58: XCTAssertTrue failed - Button exists</string>
													<key>UUID</key>
													<string>87CD48CE-F69F-44F4-A281-9B23361706B9</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862659.38465399</real>
													<key>StartTimeInterval</key>
													<real>522862659.38428998</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>669E1257-B8ED-4DC2-9B7E-19D33C2D6D95</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>6.654420018196106</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/titouanvanbelle/workspace/personal/XCUITestHTMLReport/XCUITestHTMLReportSampleApp/XCUITestHTMLReportSampleAppUITests/SecondSuite.swift</string>
													<key>LineNumber</key>
													<integer>58</integer>
													<key>Message</key>
													<string>XCTAssertTrue failed - Button exists</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>SecondSuite/testSecondSuiteButtonDoesNotExist()</string>
											<key>TestName</key>
											<string>testSecondSuiteButtonDoesNotExist()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>EF1AAED9-10B7-4481-B3D9-0411B2C21B35</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862659.60901701</real>
													<key>StartTimeInterval</key>
													<real>522862659.588081</real>
													<key>Title</key>
													<string>Start Test at 2017-07-27 23:37:39.588</string>
													<key>UUID</key>
													<string>2E1CC812-0052-4B56-9C13-E73BEB080ABF</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>522862659.588081</real>
													<key>StartTimeInterval</key>
													<real>522862659.588081</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>14389462-BB75-4015-A164-D69660B08ACA</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862664.94020998</real>
													<key>StartTimeInterval</key>
													<real>522862659.60954499</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>522862664.93987203</real>
															<key>StartTimeInterval</key>
															<real>522862659.71089798</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>522862664.938941</real>
																	<key>StartTimeInterval</key>
																	<real>522862659.73802799</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>522862660.02169502</real>
																			<key>StartTimeInterval</key>
																			<real>522862659.73847997</real>
																			<key>Title</key>
																			<string>Terminate com.tito.XCUITestHTMLReportSampleApp:4097</string>
																			<key>UUID</key>
																			<string>435366D8-E916-418E-A805-3F7470B81BD3</string>
																		</dict>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>522862663.93780202</real>
																			<key>StartTimeInterval</key>
																			<real>522862663.756383</real>
																			<key>Title</key>
																			<string>Wait for com.tito.XCUITestHTMLReportSampleApp to idle</string>
																			<key>UUID</key>
																			<string>A6C274E9-C101-4384-B930-F7689C24FC65</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.tito.XCUITestHTMLReportSampleApp</string>
																	<key>UUID</key>
																	<string>87DAD8BD-36A9-4B7B-90D6-05B7A6B54AE2</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.tito.XCUITestHTMLReportSampleApp</string>
															<key>UUID</key>
															<string>9A51246C-C58C-4B35-8836-E9BD64F86C59</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>09807E27-925D-4AE6-A785-B9CE77F17255</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>public.plain-text_1_9F482464-9D1D-4CFC-9D87-BCD69C95DA09.txt</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Timestamp</key>
															<real>522862664.94145101</real>
															<key>UniformTypeIdentifier</key>
															<string>public.plain-text</string>
															<key>UserInfo</key>
															<dict/>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>522862664.94157702</real>
													<key>StartTimeInterval</key>
													<real>522862664.94101602</real>
													<key>Title</key>
													<string>Text Attachment</string>
													<key>UUID</key>
													<string>9F482464-9D1D-4CFC-9D87-BCD69C95DA09</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.userCreated</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>public.png_1_724BFFA7-B469-4D34-A121-B779BAC82D5F.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Timestamp</key>
															<real>522862664.95137298</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>1</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>522862664.99779898</real>
													<key>StartTimeInterval</key>
													<real>522862664.94210798</real>
													<key>Title</key>
													<string>Image Attachment</string>
													<key>UUID</key>
													<string>724BFFA7-B469-4D34-A121-B779BAC82D5F</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>522862665.12395</real>
													<key>StartTimeInterval</key>
													<real>522862665.12354898</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>2DD38871-AAE8-4180-A9FA-6AFAAAA4F778</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>5.7375249862670898</real>
											<key>TestIdentifier</key>
											<string>SecondSuite/testSecondSuiteButtonExists()</string>
											<key>TestName</key>
											<string>testSecondSuiteButtonExists()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5ACFE2A7-A957-49CB-AFB0-B480EE83B63D</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SecondSuite</string>
									<key>TestName</key>
									<string>SecondSuite</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>XCUITestHTMLReportSampleAppUITests.xctest</string>
							<key>TestName</key>
							<string>XCUITestHTMLReportSampleAppUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
