name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        xcode_version: [ 13.4.1, latest ]
    runs-on: macos-12

    steps:
    - uses: actions/checkout@v2

    - name: Xcode Select
      uses: devbotsxyz/xcode-select@v1.1.0
      with:
        version: ${{ matrix.xcode_version }}

    - name: Build
      run: swift build -v -c release --arch arm64 --arch x86_64

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true
    - run: gem install xcpretty

    - name: Test
      env:
        XCODE_VERSION: ${{ matrix.xcode_version }}
      shell: bash
      run: |
        ./prepareTestResults.sh 2>&1 | xcpretty
        swift test -c release 2>&1 | xcpretty
