name: Codecov

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  coverage:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Xcode version
      uses: maxim-lobanov/setup-xcode@v1.6.0        
      with:
        xcode-version: ^16

    - name: Download Test Resources
      run: |
        aws s3 cp --recursive s3://xctesthtmlreport/ ./Tests/XCTestHTMLReportTests/Resources/
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}

    - name: Extract Test Resources
      run: |
        find Tests/XCTestHTMLReportTests/Resources -name '*.tar.gz' -execdir tar -xzvf '{}' \;

    - name: Test
      env:
        XCODE_VERSION: 15
      shell: bash
      run: |
        swift test --enable-code-coverage

    - name: Export Coverage
      env:
        XCODE_VERSION: 15
      shell: bash
      run: |
        xcrun llvm-cov export -format="lcov" \
        .build/debug/XCTestHTMLReportPackageTests.xctest/Contents/MacOS/XCTestHTMLReportPackageTests -instr-profile \
        .build/debug/codecov/default.profdata > info.lcov

    - uses: codecov/codecov-action@v3
      with:
        files: info.lcov
        verbose: true
